<Ui xmlns="http://www.blizzard.com/wow/ui/" 
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xsi:schemaLocation="http://www.blizzard.com/wow/ui/
..\FrameXML\UI.xsd">
    <Script file="ConfigOptions.lua"/>
    <Script file="Features.lua"/>
    <Script file="Positioning.lua"/>
    <Script file="Sizing.lua"/>
    <Script file="Styling.lua"/>
    <Script file="Timing.lua"/>
    <Script file="BlizzardUI.lua"/>
</Ui>