name: Update TOC Interface version(s)

on:
  workflow_dispatch:
  schedule:
    - cron: 0 12 * * *

permissions:
  contents: write
  pull-requests: write

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - name: Clone project
        uses: actions/checkout@v4

      - name: Update TOC Interface version
        uses: Mctalian/wow-toc-updater@v1
        with:
          flavor: retail
          ptr: true
          beta: true

      - name: Set up uv
        uses: astral-sh/setup-uv@v6
        with:
          enable-cache: true

      - name: Sync uv environment
        run: uv sync

      - name: Install playwright
        run: uv run playwright install

      - name: Check for hidden currencies
        run: make generate_hidden_currencies

      - name: Create pull request
        uses: peter-evans/create-pull-request@v8
        with:
          token: ${{ secrets.GH_PAT }}
          title: "build(toc): bump toc versions, please submit any bugs!"
          body: |
            ## Requirements

            - [ ] Download test package in the comments below
            - [ ] Test for all applicable game clients
              - [ ] Retail
              - [ ] Retail PTR
              - [ ] Classic
              - [ ] Classic PTR
              - [ ] Classic Era
              - [ ] Classic Era PTR
            - [ ] Check for new Hidden Currencies

            ----------------------------------------------------
            _This PR was automatically created to update the supported interface versions in RPGLootFeed.toc._
          commit-message: "build(toc): bump toc versions, please submit any bugs!"
          branch: interface-version
          delete-branch: true
